node_modules/

# Xcode
## Build generated
build/
DerivedData/
.build/

## Various settings
xcuserdata/

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

.vscode/
