<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Updates</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.guyht.vimari</string>
			<key>Developer Identifier</key>
			<string>357AUX7M8L</string>
			<key>CFBundleVersion</key>
			<string>16</string>
			<key>CFBundleShortVersionString</key>
			<string>1.6</string>
			<key>URL</key>
			<string>http://s3.amazonaws.com/static.cach.me/vimari/vimari-1.6.safariextz</string>
		</dict>
	</array>
</dict>
</plist>
