<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Updates</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.guyht.vimari</string>
			<key>Developer Identifier</key>
			<string>357AUX7M8L</string>
			<key>CFBundleVersion</key>
			<string>19</string>
			<key>CFBundleShortVersionString</key>
			<string>1.9</string>
			<key>URL</key>
            <string>https://github.com/guyht/vimari/releases/download/v1.9/vimari-1.9.safariextz</string>
		</dict>
	</array>
</dict>
</plist>
