<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>General</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>ctrl</string>
		<key>Key</key>
		<string>modifier</string>
		<key>Title</key>
        <string>Command prefix (blank for none)</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>excludedUrls</string>
		<key>Title</key>
		<string>Excluded URLs (comma separated)</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Link hinting</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>f</string>
		<key>Key</key>
		<string>hintToggle</string>
		<key>Title</key>
		<string>Link Hint Toggle</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>shift+f</string>
		<key>Key</key>
		<string>newTabHintToggle</string>
		<key>Title</key>
		<string>Link Hint Toggle (open in new tab)</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>asdfjklqwerzxc</string>
		<key>Key</key>
		<string>linkHintCharacters</string>
		<key>Title</key>
		<string>Link hint characters</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>detectByCursorStyle</string>
		<key>Title</key>
		<string>Extra detection by cursor style</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>In-page navigation</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>k</string>
		<key>Key</key>
		<string>scrollUp</string>
		<key>Title</key>
		<string>Scroll Up</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>j</string>
		<key>Key</key>
		<string>scrollDown</string>
		<key>Title</key>
		<string>Scroll Down</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>h</string>
		<key>Key</key>
		<string>scrollLeft</string>
		<key>Title</key>
		<string>Scroll Left</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>l</string>
		<key>Key</key>
		<string>scrollRight</string>
		<key>Title</key>
		<string>Scroll Right</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>60</real>
		<key>Key</key>
		<string>scrollSize</string>
		<key>MaximumValue</key>
		<real>200</real>
		<key>MinimumValue</key>
		<real>20</real>
		<key>StepValue</key>
		<real>20</real>
		<key>Title</key>
		<string>Scroll Size</string>
		<key>Type</key>
		<string>Slider</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>u</string>
		<key>Key</key>
		<string>scrollUpHalfPage</string>
		<key>Title</key>
		<string>Scroll Up Half Page</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>d</string>
		<key>Key</key>
		<string>scrollDownHalfPage</string>
		<key>Title</key>
		<string>Scroll Down Half Page</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>g g</string>
		<key>Key</key>
		<string>goToPageTop</string>
		<key>Title</key>
		<string>Go to the top of the page</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>shift+g</string>
		<key>Key</key>
		<string>goToPageBottom</string>
		<key>Title</key>
		<string>Go to the bottom of the page</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Title</key>
        <string>Page/Tab navigation</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>shift+h</string>
		<key>Key</key>
		<string>goBack</string>
		<key>Title</key>
		<string>History Back</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>shift+l</string>
		<key>Key</key>
		<string>goForward</string>
		<key>Title</key>
		<string>History Forward</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>r</string>
		<key>Key</key>
		<string>reload</string>
		<key>Title</key>
		<string>Reload</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>w</string>
		<key>Key</key>
		<string>tabForward</string>
		<key>Title</key>
		<string>Next Tab</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>q</string>
		<key>Key</key>
		<string>tabBack</string>
		<key>Title</key>
		<string>Previous Tab</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>x</string>
		<key>Key</key>
		<string>closeTab</string>
		<key>Title</key>
		<string>Close Current Tab (open left tab)</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>shift+x</string>
		<key>Key</key>
		<string>closeTabReverse</string>
		<key>Title</key>
		<string>Close Current Tab (open right tab)</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
