<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>ctrl</string>
		<key>Key</key>
		<string>modifier</string>
		<key>Title</key>
		<string>Modifier key to preceed commands (blank for none)</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>f</string>
		<key>Key</key>
		<string>hintToggle</string>
		<key>Title</key>
		<string>Link Hint Toggle</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>shift+f</string>
		<key>Key</key>
		<string>newTabHintToggle</string>
		<key>Title</key>
		<string>Link Hint Toggle (open in new tab)</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>w</string>
		<key>Key</key>
		<string>tabForward</string>
		<key>Title</key>
		<string>Next Tab</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>q</string>
		<key>Key</key>
		<string>tabBack</string>
		<key>Title</key>
		<string>Previous Tab</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>j</string>
		<key>Key</key>
		<string>scrollDown</string>
		<key>Title</key>
		<string>Scroll Down Toggle</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>k</string>
		<key>Key</key>
		<string>scrollUp</string>
		<key>Title</key>
		<string>Scroll Up Toggle</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>asdfjklqwerzxc</string>
		<key>Key</key>
		<string>linkHintCharacters</string>
		<key>Title</key>
		<string>Link hint characters</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
